{% extends "layout.html" %}
{% block content %}
    <head>
        <meta charset="UTF-8">
        <title>Covid_cup 2020 - Picks</title>
    </head>
    <body>
        <article class="media content-section">
            <div class="media-body">
                <div><h1 style="color:#5f788a;">Rules For Covid Cup</h1></div>
                <br>
                <div class="article-metadata mt-4">
                    <h2>Play In Round</h2>
                </div>
                <br>
                <div class="article">
                    <div>
                        Pick the winner from each series and the games, and the games you think it will take (3, 4, or 5)
                    </div>
                    <br>
                    <div>
                        If you pick the correct team to win, you will have 3 points for that match up,
                        but will lose 1 points from that 5 for every game you are off from the final result.
                    </div>
                    <br>
                    <div>
                        example) Vancouver vs Minnesota
                    </div>
                    <div>
                        pick: Vancouver in 5
                    </div>
                    <div>
                        result: Vancouver in 3
                    </div>
                    <div>
                        final points: 1
                    </div>
                    <br>
                    <div>
                        3 points for correct pick - 2 points (2 games x 1 points) = 1
                    </div>
                    <br>
                    <div>
                        total points available = 24
                    </div>
                </div>
                <br>
                <div class="article-metadata mt-4"><h2>Round Robin</h2></div>
                <br>
                <div class="article">
                    <div>
                        Select the standings when round robin is completed (1st, 2nd, 3rd, and 4th for each conference)
                    </div>
                    <br>
                    <div>
                        Picking correct team in correct place - 1 point
                    </div>
                    <br>
                    <div>
                        Total points available = 8
                    </div>
                </div>
                <br>
                <div class="article-metadata mt-4"><h2>Round 1 - 3</h2></div>
                <br>
                <div class="article">
                    <div>
                        Same Rules as Play In, pick the winner and the number of games it will take
                    </div>
                    <br>
                    <div>
                        Round 1: Winning Team + games = 7 points  (-1 point for each game off final result)
                    </div>
                    <div>
                        Round 2: Winning Team + games = 14 points  (-2 point for each game off final result)
                    </div>
                    <div>
                        Round 3: Winning Team + games = 21 points  (-3 point for each game off final result)
                    </div>
                    <br>
                    <div>
                        Total points available = (Round 1: 56), (Round 2: 56), (Round 3: 42)
                    </div>
                </div>
                <br>
                <div class="article-metadata mt-4"><h2>Stanley Cup Final</h2></div>
                <h2></h2>
                <br>
                <div class="article">
                    <div>
                        Choose the winner of each game in the 7 game series
                    </div>
                    <br>
                    <div>
                        Picking the winner of each game = 5 points
                    </div>
                    <br>
                    <div>
                        Even if you think its a sweep, you can still fill in games 5 - 7 with winner
                    </div>
                    <br>
                    <div>
                        Total points available = 35 points
                    </div>
                </div>
                <br>
                <div class="article-metadata mt-4"><h2>Player Totals</h2></div>
                <br>
                <div class="article">
                    <div>
                        Pick 2 players before start of playoffs
                    </div>
                    <br>
                    <div>
                        Add their point total to your final prediction total for final tally.
                    </div>
                    <br>
                    <div>
                        Goals are worth 1 point
                    </div>
                    <div>
                        Assists are worth 1 point
                    </div>
                </div>
                <br>
            </br>
        </article>
    </body>
{% endblock content %}